subprocess
time
webbrowser
random
google.generativeai
datetime
pyautogui
threading
re
pywhatkit
pyttsx3
speech_recognition
json
psutil
os
requests
bs4
speedtest
googletrans
langdetect